@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .main {
        color: #404040;
        line-height: 1.7em;
        font-size: 18px;
    }

    .container {
        max-width: 1440px;
        width: 100%;
        padding-right: 7.5px;
        padding-left: 7.5px;
        margin-right: auto;
        margin-left: auto;
    }

    .nav-menu {
        margin-top: 0;
    }
    
    .w-nav-menu {
        float: right;
        position: relative;
    }
    
    .navlink {
        padding-bottom: 20px;
        font-size: 18px;
        font-weight: 600;
    }

    .w-nav-link {
        vertical-align: top;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        text-decoration: none;
        display: inline-block;
        position: relative;
    }

    .topbar {
        background-color: #f4f8fa;
        position: relative;
        overflow:  hidden;
    }

    .phone-text {
        font-weight: 400;
        line-height: 2.5;
        background-image: url(/images/phone-call.svg);
        float:right;
        text-align: right;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 40px;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: 0%;
    }

    .w-clearfix:before {
        content: " ";
        display: table;
    }

    .w-clearfix:after {
        clear:both;
        content: " ";
        display: table;
    }

    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: #fff;
    }

    .brand-logo {
        margin-top: -20px;
        max-width: 350px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .w-nav-brand {
        float: left;
        color: #333;
        text-decoration: none;
        position: relative;
    }

    .w-dropdown {
        text-align: left;
        z-index: 900;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        position: relative;
    }

    .w-dropdown-list {
        display: none;
    }
}

.flash-bar {
    z-index: 99;
    background-color: #d30d5f;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 22px;
    position: sticky;
    top: 0;
}

.top-header-angle {
    background-color: #fff;
    width: 35%;
    height: 100%;
    position: absolute;
    inset: 0% auto auto 0%;
}

.top-header-angle-shape {
    background-color: #f8f8fa;
    width: 80px;
    height: 120px;
    position: absolute;
    inset: 0% 0% auto auto;
    transform: translate(10px, -54px) rotate(-47deg);
}

.container {
    max-width: 1430px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.container:after {
    clear: both;
}

.top-header-inner {
    justify-content: flex-end;
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    position: relative;
}

.top-header-list {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.top-header-contact {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    align-items: center;
    line-height: 1.4rem;
    display: flex;
}

.top-header-contact-value {
    font-weight: 600;
}

.top-email-btn.outline-btn {
    border: solid 1px #d30d5f;
    background-color: #fff;
    color: #d30d5f;
}

.top-email-btn.outline-btn:hover {
    border-color: #404040;
    background-color: #404040;
    color: #fff;
}

.top-email-btn.teal-border:hover {
    border-color: #404040;
    background-color: #404040;
    color: #fff;
}

.top-email-btn {
    border: 1px solid #d30d5f;
    background-color: #d30d5f;
    color: #fff;
    border-radius: 40px;
    padding: 6px 20px;
    line-height: 1.4rem;
    text-decoration: none;
    display: inline-block;
}

.w-nav-brand {
    float: left;
    position: relative;
}

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.contact-cta {
    background-color: #f8f8fa;
    border-radius: 30px;
    overflow: hidden;
}

.contact-cta-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1.5fr 1fr;
}

.contact-cta-content {
    padding: 64px 40px;
}

.contact-cta-img-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact-info-grid {
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-rows: auto;
    margin-top: 30px;
}

.contact-info-card {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: flex-start;
    display: flex;
}

.contact-info-title {
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4em;
}

.heading-main {
    font-size: 36px;
}

.heading-main.mt-0.mb-10 {
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.25em;
}

.footer-top-spacer {
    height: 64px;
}

.footer {
    background-color: #262626;    
}

.footer .logos {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer-logos {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.footer-logos.even {
    justify-content: space-between;
}

.footer-card {
    width: 76px;
}

.w-col {
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.w-col-6 {
    width: 50%;
}

.grid-logos {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
}

.footer-main {
    color: #eaeaf0;
    background-color: #262626;
    padding-top: 64px;
    padding-bottom: 64px;
    line-height: 1.4rem;
}

.footer-main-col {
    max-width: 30%;
}

.footer-main-grid {
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    justify-content: space-between;
    display: flex;   
}

.footer-block-group {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    flex-direction: column;
    display: flex;
}

.footer-divider-line {
    background-color: #515151;
    width: 2px;
    height: 100%;
}

.footer-text-label {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: .1.4em;
}

.footer-brand-logo {
    margin-bottom: 30px;
}

p {
    margin-bottom: 16px;
    font-size: 17px;
    line-height: 28px;
}

.footer-text-sm {
    font-size: 16px;
    line-height: 1.4rem;
}